#body
{
	background-image:linear-gradient(to right, #D0FFBA , #BFFFBA,#BAFFC6 ); 
}
#boton_calcula
{
	 background-color: #DFDFDF;
	 border-radius: 90px;
	 font-size: 18px;
	 cursor: pointer;
}
#regresar a
{
	 text-decoration: none;
	 color: black;
	 font-size: 18px;
}
#radio1
{
	border-radius: 100px;
}